root {
    -fx-background-color: #fff;
}

.back-btn {
    -fx-cursor: hand;
    -fx-min-height: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-max-width: 32px;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url("../assets/left-arrow.png");;
}

.back-btn:hover {
    -fx-background-color: -fx-primary-color;
    -fx-background-image: url("../assets/left-arrow-hover.png");;
}

.headline {
    -fx-font-family: NotoSans;
    -fx-font-size: 24px;
    -fx-text-fill: -fx-darker-gray-color;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #c1c7cd;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-min-height: 40px;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-gray-color;
    -fx-font-size: 15px;
    -fx-font-family: NotoSans;
    -fx-font-weight: 500;
    -fx-padding: 12px;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #c1c7cd transparent;
    -fx-border-width: 1px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-text-fill: -fx-dark-gray-color;
    -fx-font-size: 14px;
    -fx-font-family: NotoSans;
}

.table-row-cell{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 40px;
    -fx-cursor: hand;
    -fx-table-cell-border-color: transparent !important;
}

.table-row-cell:odd{
    -fx-background-color: -fx-light-gray-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -fx-primary-color;
    -fx-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(41,47,51, 0.5);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
    -fx-padding: 0.25em 0.1em  ;
    -fx-cursor: hand;
}

.table-view > .virtual-flow > .scroll-bar:vertical .thumb:hover,
.table-view > .virtual-flow > .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgba(41,47,51, 0.7);
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}